/* body {
  font-family: sans-serif;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background: blue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
}

input {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 15px;
  margin-left: 5px;
}

li {
  list-style: none;
  margin-top: 10px;
}

li button {
  margin-left: 10px;
  color: red;
  border: none;
  background: none;
  cursor: pointer;
} */
body{
  background-color: black;
  width:100%;
display: flex;
    justify-content: center; /* horizontal centering */
  align-items: center;     /* vertical centering */
  height: 100vh;           /* full viewport height */
  margin: 0;
}
.container{

width:300px;
align-items: center;
    
border-radius: 10px;
padding: 20px;
background-color: blue;
}
.container h2{
  color:white;
  text-align: center;
}

input{
  width:70%;
  padding: 10px;
  margin-bottom: 10px;
}

button{
   padding: 10px 15px;
  margin-left: 5px;
  cursor:pointer;
}
button:hover{
  background-color: rgb(1, 231, 231);
}
#task-list {
  margin-top: 20px;
  padding-left: 0;
  list-style-type: none;
  color: white;
}

#task-list li {
  margin-bottom: 10px;
  background: #222;
  padding: 10px;
  border-radius: 5px;
  
}